# Part 1: Web Scraping and Database Storage

In [ ]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import time

# Mapping short day names to full names
day_mapping = {
    "Mon": "Monday", "Tue": "Tuesday", "Wed": "Wednesday", "Thu": "Thursday",
    "Fri": "Friday", "Sat": "Saturday", "Sun": "Sunday"
}

# Function to normalize day names
def normalize_day(day):
    if day is None:
        return None
    day = day.strip().capitalize()  # Normalize capitalization
    return day_mapping.get(day[:3], day)  # Convert short form to full name if exists

# Function to normalize time format
def normalize_time(time_str):
    if time_str is None:
        return None
    time_str = time_str.strip().lower()  # Normalize case
    time_str = re.sub(r'(\d)(am|pm)', r'\1 \2', time_str)  # Ensure space before AM/PM

    try:
        return pd.to_datetime(time_str, format="%I:%M %p").strftime("%I:%M %p")
    except ValueError:
        try:
            return pd.to_datetime(time_str, format="%I %p").strftime("%I:%M %p")
        except ValueError:
            return None

# Function to parse working hours
def parse_working_hours(hours_str):
    if pd.isna(hours_str) or not isinstance(hours_str, str):
        return pd.Series([None, None, None, None])

    # Extract possible day range
    day_match = re.search(r'([A-Za-z]+)\s*[-–]\s*([A-Za-z]+)', hours_str)
    if day_match:
        work_day_start, work_day_end = day_match.groups()
    else:
        single_day_match = re.search(r'([A-Za-z]+),', hours_str)
        work_day_start = single_day_match.group(1) if single_day_match else None
        work_day_end = work_day_start  # Assume same start & end if only one is given

    # Extract time range
    time_match = re.findall(r'(\d{1,2}(:\d{2})?\s*[APMapm]+)', hours_str)
    start_time, end_time = None, None
    if len(time_match) >= 2:
        start_time, end_time = time_match[0][0], time_match[1][0]
    elif len(time_match) == 1:  # If only one time is provided, assume same start & end
        start_time = time_match[0][0]
        end_time = start_time

    # Normalize day names and time format
    work_day_start = normalize_day(work_day_start)
    work_day_end = normalize_day(work_day_end) if work_day_end else work_day_start
    start_time = normalize_time(start_time)
    end_time = normalize_time(end_time)

    return pd.Series([work_day_start, work_day_end, start_time, end_time])

# Web scraping function
def scrape_subway_data():
    """
    Extracts Subway store data from the website, filters for Kuala Lumpur outlets,
    and returns a Pandas DataFrame with structured working hours.
    """
    # Configure Selenium
    options = Options()
    options.add_argument("--headless")  # Run in background
    options.add_argument("--disable-gpu")
    options.add_argument("--no-sandbox")
    service = Service(ChromeDriverManager().install())

    # Initialize browser
    driver = webdriver.Chrome(service=service, options=options)

    # Open website
    url = "https://subway.com.my/find-a-subway"
    driver.get(url)
    time.sleep(5)  # Wait for JavaScript to load

    # Extract store data
    outlets = driver.find_elements(By.CLASS_NAME, "fp_listitem")

    data = []
    for outlet in outlets:
        try:
            # Extract data: name, address, hours
            name = outlet.find_element(By.TAG_NAME, "h4").text.strip()
            address = outlet.find_element(By.CLASS_NAME, "infoboxcontent").find_element(By.TAG_NAME, "p").text.strip()
            
            # Filter only Kuala Lumpur outlets
            if "kuala lumpur" not in address.lower():
                continue  
            
            # Extract opening hours (if available)
            paragraphs = outlet.find_elements(By.TAG_NAME, "p")
            hours = paragraphs[2].text.strip() if len(paragraphs) > 2 else "Unknown"
            
            # Parse working hours
            work_day_start, work_day_end, start_time, end_time = parse_working_hours(hours)
            print(f"{hours} -> ({work_day_start}, {work_day_end}, {start_time}, {end_time})")

            # latitude = outlet.get_attribute("data-latitude")
            # longitude = outlet.get_attribute("data-longitude")
            latitude = None
            longitude = None

            # Store data
            data.append({
                "name": name,
                "address": address,
                "work_day_start": work_day_start,
                "work_day_end": work_day_end,
                "start_time": start_time,
                "end_time": end_time,
                "latitude": latitude,
                "longitude": longitude
            })

        except Exception as e:
            print(f"Error: {e}")

    # Close the browser
    driver.quit()

    # Convert to DataFrame
    df = pd.DataFrame(data)
    return df

# Execute web scraping function
df = scrape_subway_data()
df.head()

Monday - Sunday, 8:00 AM - 8:00 PM -> (Monday, Sunday, 08:00 AM, 08:00 PM)
Monday - Saturday, 8:00 AM – 9:00PM -> (Monday, Saturday, 08:00 AM, 09:00 PM)
Monday - Saturday, 8:00 AM – 8:30PM -> (Monday, Saturday, 08:00 AM, 08:30 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 8:00 AM - 10:00 PM -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Saturday, 8:00 AM – 9:00PM -> (Monday, Saturday, 08:00 AM, 09:00 PM)
Monday - Friday, 8:00 AM – 6:30PM -> (Monday, Friday, 08:00 AM, 06:30 PM)
Monday - Sunday, 9:30 AM - 9:30 PM -> (Monday, Sunday, 09:30 AM, 09:30 PM)
Monday - Sunday, 8:30 AM - 9:00 PM -> (Monday, Sunday, 08:30 AM, 09:00 PM)
Monday - Friday, 8:00 AM – 9:00PM -> (Monday, Friday, 08:00 AM, 09:00 PM)
Monday - Sunday, 10:15 AM - 9:30 PM -> (Monday, Sunday, 10:15 AM, 09:30 PM)
Monday - Sunday, 8:00 AM - 10:00 PM -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday, 8:00 AM - 9:00 PM -> (Monday, Sunday, 08:00 AM, 09:00 PM)
Monday - Sunday, 8:00 AM - 10:00 PM -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 8:00 AM - 10:00 PM -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM – 8:00PM -> (Monday, Sunday, 10:00 AM, 08:00 PM)
Monday - Sunday, 10:00 AM - 8:00 PM -> (Monday, Sunday, 10:00 AM, 08:00 PM)
Monday - Sunday, 8:00 AM - 9:00 PM -> (Monday, Sunday, 08:00 AM, 09:00 PM)
Monday - Sunday, 8:00 AM - 9:30 PM -> (Monday, Sunday, 08:00 AM, 09:30 PM)
Monday, 10:00 AM – 8:00PM -> (Monday, Monday, 10:00 AM, 08:00 PM)
Monday - Sunday, 8:00 AM - 10:30 PM -> (Monday, Sunday, 08:00 AM, 10:30 PM)
Monday - Sunday, 8:30 AM - 10:00 PM -> (Monday, Sunday, 08:30 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 8:00 PM -> (Monday, Sunday, 10:00 AM, 08:00 PM)
Monday - Saturday, 8:30 AM – 10:00PM -> (Monday, Saturday, 08:30 AM, 10:00 PM)
Monday - Sunday, 9:00 AM - 10:00 PM -> (Monday, Sunday, 09:00 AM, 10:00 PM)
Monday - Sunday, 8:00 AM - 10:00 PM -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Friday, 8:30 AM – 8:30PM -> (Monday, Friday, 08:30 AM, 08:30 PM)
Monday - Sunday, 9:00 AM - 9:00 PM -> (Monday, Sunday, 09:00 AM, 09:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 9:00 AM - 10:00 PM -> (Monday, Sunday, 09:00 AM, 10:00 PM)
Monday - Sunday (9:00AM - 10:00PM) -> (Monday, Sunday, 09:00 AM, 10:00 PM)
Tuesday – Sunday, 10:00 AM – 9:30PM -> (Tuesday, Sunday, 10:00 AM, 09:30 PM)
Monday - Sunday, 9:00 AM - 9:30 PM -> (Monday, Sunday, 09:00 AM, 09:30 PM)
Sunday – Thursday, 10:00 AM – 8:00PM -> (Sunday, Thursday, 10:00 AM, 08:00 PM)
Monday - Sunday, 10:00 AM - 9:00 PM -> (Monday, Sunday, 10:00 AM, 09:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 8:00 AM - 8:30 PM -> (Monday, Sunday, 08:00 AM, 08:30 PM)
Mon - Sun : 10am-6pm -> (Monday, Sunday, 10:00 AM, 06:00 PM)
Monday - Sunday, 7:30 AM - 10:00 PM -> (Monday, Sunday, 07:30 AM, 10:00 PM)
Monday - Sunday, 9:30 AM - 10:00 PM -> (Monday, Sunday, 09:30 AM, 10:00 PM)
Monday - Sunday, 9:30 AM - 9:00 PM -> (Monday, Sunday, 09:30 AM, 09:00 PM)
Monday - Sunday (8:00AM - 10:00PM) -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Sunday - Thursday, 10:00 AM – 10:00PM -> (Sunday, Thursday, 10:00 AM, 10:00 PM)
Monday - Sunday (8:00AM - 10:00PM) -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday, 10:00 AM - 10:00 PM -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday (8:00AM - 10:00PM) -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday (8:00AM - 10:00PM) -> (Monday, Sunday, 08:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)
Monday - Sunday (10:00AM - 10:00PM) -> (Monday, Sunday, 10:00 AM, 10:00 PM)

,name,address,work_day_start,work_day_end,start_time,end_time,latitude,longitude
0,Subway Menara UOA Bangsar,"Jalan Bangsar Utama 1, Unit 1-2-G, Menara UOA ...",Monday,Sunday,08:00 AM,08:00 PM,None,None
1,Subway Jln Pinang,"G9, Wisma UOA II, 19, Jalan Pinang, Kuala Lump...",Monday,Saturday,08:00 AM,09:00 PM,None,None
2,Subway UOA Damansara,"Unit 50-G-5, Ground Floor, Wisma UOA Damansara...",Monday,Saturday,08:00 AM,08:30 PM,None,None
3,Subway Mont Kiara,"E-01-16 ,Block E, Plaza Mont Kiara, 2 Jalan Ki...",Monday,Sunday,10:00 AM,10:00 PM,None,None
4,Subway Avenue K,"Lot UC-8 & 9, Upper Concourse Level, Avenue K,...",Monday,Sunday,08:00 AM,10:00 PM,None,None

In [3]:
import sqlite3

def save_to_database(df, db_name="subway.db"):
    """
    Saves the DataFrame to a SQLite database.

    Args:
        df (pd.DataFrame): The DataFrame containing store data.
        db_name (str): Name of the database file.
    """
    with sqlite3.connect(db_name) as conn:
        cursor = conn.cursor()

        # Create table if not exists
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS outlets (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            address TEXT,
            work_day_start TEXT,
            work_day_end TEXT,
            start_time TEXT,
            end_time TEXT,
            latitude REAL,
            longitude REAL
        )
        """)

        # Insert data
        df.to_sql("outlets", conn, if_exists="append", index=False)

        print(f"✅ Data saved to {db_name}")

if not df.empty:
    save_to_database(df)
else:
    print("❌ No Kuala Lumpur outlets found.")

✅ Data saved to subway.db

# Part 2: Geocoding

In [6]:
import googlemaps
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# Replace with your Google Maps API Key
GOOGLE_MAP_API = os.getenv('GOOGLE_MAP_API')

# Initialize Google Maps Geocoder
gmaps = googlemaps.Client(key=GOOGLE_MAP_API)

def geocode_address(address, retries=3):
    """
    Retrieves geographical coordinates (latitude, longitude) for a given address using Google Maps.
    
    Args:
        address (str): The address to geocode.
        retries (int): Number of retry attempts for failed lookups.
    
    Returns:
        tuple: (latitude, longitude) or (None, None) if failed.
    """
    for attempt in range(retries):
        try:
            results = gmaps.geocode(address)
            if results:
                lat, lon = results[0]['geometry']['location']['lat'], results[0]['geometry']['location']['lng']
                print(f"✅ Geocoded: {address} → ({lat}, {lon})")
                return lat, lon
            else:
                print(f"❌ No geocode found for: {address}")
        except Exception as e:
            print(f"⚠️ Error: {e} | Retrying ({attempt + 1}/{retries})...")
            time.sleep(2)

    return None, None  # If all retries fail

def update_database_with_geocodes(db_name="subway.db"):
    """
    Updates the SQLite database with latitude & longitude for outlets with missing coordinates.
    """
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    # Fetch outlets where latitude or longitude is missing
    cursor.execute("SELECT id, address FROM outlets WHERE latitude IS NULL OR longitude IS NULL")
    missing_outlets = cursor.fetchall()

    if not missing_outlets:
        print("✅ All outlets already have geocodes.")
        conn.close()
        return

    print(f"🔍 Found {len(missing_outlets)} outlets with missing coordinates. Updating...")
    for outlet_id, address in missing_outlets:
        lat, lon = geocode_address(address)

        if lat and lon:
            cursor.execute("UPDATE outlets SET latitude = ?, longitude = ? WHERE id = ?", (lat, lon, outlet_id))

    conn.commit()
    cursor.close()
    conn.close()
    print("🚀 Database updated with geocodes.")

# Update missing geocodes
update_database_with_geocodes()

🔍 Found 59 outlets with missing coordinates. Updating...
✅ Geocoded: Jalan Bangsar Utama 1, Unit 1-2-G, Menara UOA Bangsar, Kuala Lumpur, 59000 → (3.126969, 101.6768848)
✅ Geocoded: G9, Wisma UOA II, 19, Jalan Pinang, Kuala Lumpur, 50450 → (3.1525875, 101.712256)
✅ Geocoded: Unit 50-G-5, Ground Floor, Wisma UOA Damansara, No. 50, Jalan Dungun, Kuala Lumpur, 50490 → (3.1517288, 101.6660061)
✅ Geocoded: E-01-16 ,Block E, Plaza Mont Kiara, 2 Jalan Kiara, Mont Kiara, Kuala Lumpur, 50480 → (3.1658129, 101.6510419)
✅ Geocoded: Lot UC-8 & 9, Upper Concourse Level, Avenue K, No. 156, Jalan Ampang, Kuala Lumpur, 50450 → (3.159418, 101.7134125)
✅ Geocoded: LG-08A, Berjaya Times Square, No. 1, Jalan Imbi, Kuala Lumpur, 55100 → (3.1425177, 101.7103847)
✅ Geocoded: Ground Floor, Unit 01-02, Cap Square Tower, 10 Jalan Munshi Abdullah, Kuala Lumpur, 50100 → (3.1542071, 101.6987835)
✅ Geocoded: Faculty of Dentistry, Level 1, Block B, University of Malaya, Kuala Lumpur, 50603 → (3.1219268, 101.6569942)
✅ Geocoded: Wangsa Ave, Bandar Wangsa Maju, #9 Jalan Perdana 1, G-52, Wangsa Walk Mall, Kuala Lumpur, 53300 → (3.1985818, 101.7422055)
✅ Geocoded: Lvl1, Petronas Svs Station TTDI,Lot29395 & 29396, Pinggir Zaaba, Taman Tun Dr Ismail, Kuala Lumpur, 60000 → (3.1420259, 101.6255264)
✅ Geocoded: LG Floor, Menara Bumiputra Commerce, No 11, Jalan Raja Laut, 50350 Kuala Lumpur → (3.1554325, 101.6951143)
✅ Geocoded: Tesco Kepong Village Mall, Lot No. 14, 1st Floor, No. 3 Jalan 7A/62A Bandar Manjalara, Kuala Lumpur, 52200 → (3.1952966, 101.6331794)
✅ Geocoded: No. 447, Jalan Ipoh, Batu 3, Taman Million, 51200 Kuala Lumpur → (3.1823997, 101.6818611)
✅ Geocoded: Pusat Komersial Southgate, No. 2, Jalan Dua, Unit E-1-6, Off Jalan Chan Sow Lin, Lvl 1, Kuala Lumpur, 55200 → (3.1219625, 101.7134513)
✅ Geocoded: G-06, Brem Mall, Jalan Kepong, Kepong, Kuala Lumpur, 52000 → (3.2044953, 101.6674289)
✅ Geocoded: Setapak Central Mall, Lot S-23, No. 67 Jalan Taman Ibu Kota, Taman Danau Kota, Setapak, Kuala Lumpur, 53200 → (3.205435, 101.7199889)
✅ Geocoded: Aeon Big Wangsa Maju, F1-09, First Floor, Jalan 8/27A, Section 5, Wangsa Maju, 53300 Kuala Lumpur. → (3.196448, 101.7422024)
✅ Geocoded: Endah Parade Shopping Complex, Lot G-013A, Ground Floor, Jalan 1/149E, Kuala Lumpur, 57000 → (3.063303, 101.6951981)
✅ Geocoded: Unit L4-29, 4th Floor, Terminal Bersepadu Selatan, Bandar Tasik Selatan, Kuala Lumpur, 57100 → (3.078001, 101.7109215)
✅ Geocoded: KWC Fashion Mall, No.2, Jalan Gelugor, Lot G-08, Kuala Lumpur, 55200 → (3.1367328, 101.7078259)
✅ Geocoded: Lot 3.06, 3rd Floor vendor letter SH-15-G,Grd Floor,Selayang, Kuala Lumpur, 68000 , Batu Caves, 68100 → (3.2378844, 101.6840385)
✅ Geocoded: Sime Darby Parkcity, CP Retail 2, No. 2 Jalan Intisari, Perdana Desa Parkcity, Kuala Lumpur, 52200 → (3.1893179, 101.6385075)
✅ Geocoded: Lower Ground 1 (LG1), Menara TM, Jalan Pantai Baharu, 50672 Kuala Lumpur → (3.1161294, 101.665866)
✅ Geocoded: No. G100, Jalan Prima SG3/2, Taman Prima, Sri Gombak, Kuala Lumpur, 68100 → (3.2376664, 101.700343)
✅ Geocoded: No.66, Jalan Tasik Utama 7, Medan Niaga Tasik Damai, (Trillium) Lake Field, Sg Besi, Kuala Lumpur, 57000 → (3.05989, 101.710432)
✅ Geocoded: Ikon Connaught, G-02A & Alfresco GA-02A, Ground Floor, Jalan Cerdas, Taman Connaught, Kuala Lumpur, 56100 → (3.0814646, 101.7314185)
✅ Geocoded: Ativo Plaza, #1 Jalan PJU 9/1, Damansara Ave, B-G-2, Block B, Bandar Sri Damansara, Kuala Lumpur, 52200 → (3.1967245, 101.6162782)
✅ Geocoded: A1-07 Jalan 1/52, Taman OUG Parklane Off Jalan Klang Lama 58200 Kuala Lumpur → (3.0823013, 101.6684135)
✅ Geocoded: No. 53, Jalan Radin Bagus, 57000 Sri Petaling, Kuala Lumpur → (3.0703963, 101.695067)
✅ Geocoded: AEON Alpha Angle Shopping Ctr, Lot F37A, Jalan R1, Seksyen 1, Bandar Baru Wangsa Maju, Kuala Lumpur, 53300 → (3.2021198, 101.7341702)
✅ Geocoded: Lot B1-07 & B1-08, Level Basement 1, MyTOWN Shopping Centre, Jalan Cochrane, Seksyen 90, Kuala Lumpur, 55100 → (3.1499222, 101.6944619)
✅ Geocoded: Great Eastern Mall, Lot 4C Lower Ground Floor, No 303 Jalan Ampang, Kuala Lumpur, 50450 → (3.1600725, 101.7369013)
✅ Geocoded: L4.13, Level Four, NU Sentral, No. 201 Jalan Tun Sambanthan, Kuala Lumpur, 50470 → (3.1328277, 101.6873496)
✅ Geocoded: Lot 4-60 & 4-79A, Fourth Floor, Sunway Putra Mall, No. 100, Jalan Putra, 50350 Kuala Lumpur → (3.1664256, 101.6924194)
✅ Geocoded: L3-22, Third Floor, Melawati Mall, UP2-01, Melawati Mall, 355, Jalan Bandar Melawati, Pusat Bandar Melawati, 53100 Kuala Lumpur → (3.2104842, 101.7485587)
✅ Geocoded: Level 1 Axiata Arena, KL Sport City, Bukit Jalil, 57000, Kuala Lumpur → (3.0534968, 101.6924882)
✅ Geocoded: Lot No. 1.0.69 (Ground Floor), Pearl Point Shopping Mall, Batu 5, Jalan Klang Lama, 58000 Kuala Lumpur → (3.0831533, 101.6694446)
✅ Geocoded: Lot 1-03, Level 1, Residensi UTMKL, No 8 Jalan Maktab, 54000 Kuala Lumpur → (3.1715697, 101.7216784)
✅ Geocoded: 45-G, Plaza KLTS, Block C, Jalan Gombak, 53000 Kuala Lumpur → (3.2042669, 101.7042083)
✅ Geocoded: LG 37 , Lower Ground Floor, KL East Mall, 823 Jalan Lingkaran Tengah 2, KL Timur, 53100 Kuala Lumpur → (3.2247781, 101.7304658)
✅ Geocoded: Lot R-G-07, Ground Floor Q Avenue, Kompleks Permaisuri Q, No.6,Jalan Sri Permaisuri, Bandar Sri Permaisuri, Cheras 56000 Kuala Lumpur → (3.1020549, 101.7118969)
✅ Geocoded: Lot F208, Second Floor, Suria KLCC, Jalan Ampang, Golden, 50088 Kuala Lumpur → (3.158154, 101.7120899)
✅ Geocoded: 91, Jalan Metro Barat Perdana 1, Taman Usahawan Kepong, 52100 Kuala Lumpur → (3.218244, 101.6348306)
✅ Geocoded: Kidzania Kuala Lumpur, Lot 11, Lower Ground Curve NX, No.18 Jalan PJU 7/5, 47810 Mutiara Damansara, Petaling Jaya Selangor → (3.1580958, 101.6138072)
✅ Geocoded: BHPetrol Jalan Kuching, Lot PT 4283 & Lot 6086 Jalan Kuching, 52100 Kuala Lumpur. → (3.18844, 101.6701582)
✅ Geocoded: Lot 1.40.00, Persiaran Jalil Utama, Bukit Jalil, Kuala Lumpur → (3.048822, 101.6735075)
✅ Geocoded: Lot G27-G29, No.2, Jalan Midah 2, Taman Midah, 56000 Cheras, Kuala Lumpur → (3.102042, 101.7339485)
✅ Geocoded: 1-01 Plaza Salak Park, No 2, Jalan 1/125E, Taman Desa Petaling, 57100 Kuala Lumpur → (3.0827782, 101.7024706)
✅ Geocoded: Lot G32,AEON Mall Taman Maluri, Jalan Jejaka, Taman Maluri Cheras 55100, Kuala Lumpur → (3.1259253, 101.7283988)
✅ Geocoded: G1.K5, Lower Ground 1, KL Gateway Mall, 2, Jalan Kerinchi, 59200 Kuala Lumpur → (3.114035, 101.6634081)
✅ Geocoded: Lot F-18 & 18 (External) No. 1081, Jalan Ipoh Mukim Batu 51200 Kuala Lumpur → (3.2027066, 101.67524)
✅ Geocoded: Lot G-22A & G-22B . Hartamas Shopping Center, 60, Jalan Sri Hartamas 1, Taman Sri Hartamas, 50480 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur → (3.163504, 101.656995)
✅ Geocoded: The Intermark, Intermark Mall, 348, Jalan Tun Razak, 50400 Kuala Lumpur → (3.1613001, 101.7199536)
✅ Geocoded: No 9, Lot G-W-1, Ground Floor, West Wing, Rohas Pure Circle, Jalan P. Ramlee, 50450 Kuala Lumpur. → (3.154819, 101.708742)
✅ Geocoded: Kl Festival City, Lot S-23, No 67 Jalan Taman Ibu Kota, Taman Danau Kota, Setapak, Kuala Lumpur, 53200 → (3.204403, 101.720566)
✅ Geocoded: 1st Floor, Zone 3, Kiosk FK-05, Mid Valley Megamall, Lingkaran Syed Putra, Mid Valley City, 59200 Kuala Lumpur → (3.1176991, 101.6774777)
✅ Geocoded: LOTUS’S AMPANG - OL1, Jalan Pandan Prima Dataran, Pandan Indah, 55100 Kuala Lumpur → (3.1439057, 101.741801)
✅ Geocoded: "Lot G-22, The Beat Kiara Bay Kepong Metropolitan Park,Jalan Lingkaran Tengah 52100 Kuala Lumpur." → (3.2260814, 101.6502654)
✅ Geocoded: G-14, Kompleks Sama, No.2, Jalan 1/23C, 53200 Setapak, KL, Wilayah Persekutuan Kuala Lumpur → (3.1941483, 101.7202545)
🚀 Database updated with geocodes.

In [7]:
# Print after updating geocodes
def print_sample_outlets(db_name="subway.db"):
    """
    Prints a few sample records from the database before and after updating geocodes.
    """
    conn = sqlite3.connect(db_name)
    df = pd.read_sql_query("SELECT * FROM outlets", conn)
    conn.close()

    print("\n🔍 Sample Outlets from Database:")
    display(df.head())
    return df

df_updated = print_sample_outlets()

🔍 Sample Outlets from Database:

,id,name,address,work_day_start,work_day_end,start_time,end_time,latitude,longitude
0,1,Subway Menara UOA Bangsar,"Jalan Bangsar Utama 1, Unit 1-2-G, Menara UOA ...",Monday,Sunday,08:00 AM,08:00 PM,3.126969,101.676885
1,2,Subway Jln Pinang,"G9, Wisma UOA II, 19, Jalan Pinang, Kuala Lump...",Monday,Saturday,08:00 AM,09:00 PM,3.152588,101.712256
2,3,Subway UOA Damansara,"Unit 50-G-5, Ground Floor, Wisma UOA Damansara...",Monday,Saturday,08:00 AM,08:30 PM,3.151729,101.666006
3,4,Subway Mont Kiara,"E-01-16 ,Block E, Plaza Mont Kiara, 2 Jalan Ki...",Monday,Sunday,10:00 AM,10:00 PM,3.165813,101.651042
4,5,Subway Avenue K,"Lot UC-8 & 9, Upper Concourse Level, Avenue K,...",Monday,Sunday,08:00 AM,10:00 PM,3.159418,101.713413